<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
  "
>
  <a routerLink="/image" routerLinkActive="active" ariaCurrentWhenActive="page"
    >image</a
  >
  <a
    routerLink="/calculator"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    calculator
  </a>
  <a routerLink="/quiz" routerLinkActive="active" ariaCurrentWhenActive="page">
    quiz
  </a>
  <!-- <p>ชีวะประวัติ</p>
  <p>Download</p>
  <p>Donate</p> -->
</div>
<router-outlet></router-outlet>
