.interface {
  display: flex;
  flex-flow: column nowrap;
  min-height: 50px;
  padding: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.picture1 {
  display: flex;
  flex-flow: row;
  min-height: 120px;
  text-align: center;
}

.quiz1 {
  display: none;
  text-align: center;
  flex-flow: column nowrap;
}
.คำถาม {
  display: flex;
  text-align: center;
  flex-flow: column nowrap;
}
