<h1>calapp works!</h1>
<div class="wrapper">
  <!-- class คือประกาศตัวแปรในที่นี้คือ หน้าจอ. ใน css-->
  <section class="หน้าจอ">
    <div class="ตัวเก่า" data-operand-previous>69</div>
    <div class="ตัวที่จะกด" data-operand-current>96</div>
  </section>
  <!--ได้หน้าจอแล้วทำปุ่มต่อ-->
  <!--เว้นบรรทัดเฉย ๆ 555-->
  <section class="ปุ่มกด">
    <div class="ปุ่ม">
      <button class="ปุ่มขอขนาดเบิ้มๆคือลือหน่ะ" เคลียร์>Clear</button>
      <button class="ปุ่มคำสั่ง" คำสั่ง>บวก</button>
      <button class="ปุ่มคำสั่ง" คำสั่ง>ลบ</button>
      <button class="ปุ่มคำสั่ง" คำสั่ง>คูณ</button>
      <button class="ปุ่มคำสั่ง" คำสั่ง>หาร</button><br />
      <button class="ปุ่มธรรมดาก็พอ" ตัวเลข>7</button>
      <button class="ปุ่มธรรมดาก็พอ" ตัวเลข>8</button>
      <button class="ปุ่มธรรมดาก็พอ" ตัวเลข>9</button><br />
      <button class="ปุ่มธรรมดาก็พอ" ตัวเลข>4</button>
      <button class="ปุ่มธรรมดาก็พอ" ตัวเลข>5</button>
      <button class="ปุ่มธรรมดาก็พอ" ตัวเลข>6</button><br />
      <button class="ปุ่มธรรมดาก็พอ" ตัวเลข>1</button>
      <button class="ปุ่มธรรมดาก็พอ" ตัวเลข>2</button>
      <button class="ปุ่มธรรมดาก็พอ" ตัวเลข>3</button><br />
      <button class="ปุ่มขอขนาดเบิ้มๆคือลือหน่ะ" เท่ากับ>=</button>
      <button class="ปุ่มขอขนาดเบิ้มๆคือลือหน่ะ" ตัวเลข>0</button>
      <button class="ปุ่มขอขนาดเบิ้มๆคือลือหน่ะ" ทศนิยม>.</button>
    </div>
  </section>
</div>
