<h1>calapp works!</h1>
<div class="wrapper">
  <section class="หน้าจอ">
    <div class="ตัวเก่า" data-operand-previous>69</div>
    <div class="ตัวที่จะกด" data-operand-current>96</div>
  </section>
  <section class="ปุ่มกด">
    <div class="ปุ่ม">
      <button class="ปุ่มขอขนาดเบิ้มๆคือลือหน่ะ">Clear</button>
      <button class="ปุ่มคำสั่ง">บวก</button>
      <button class="ปุ่มคำสั่ง">ลบ</button>
      <button class="ปุ่มคำสั่ง">คูณ</button>
      <button class="ปุ่มคำสั่ง">หาร</button><br />
      <button class="ปุ่มธรรมดาก็พอ">7</button>
      <button class="ปุ่มธรรมดาก็พอ">8</button>
      <button class="ปุ่มธรรมดาก็พอ">9</button><br />
      <button class="ปุ่มธรรมดาก็พอ">4</button>
      <button class="ปุ่มธรรมดาก็พอ">5</button>
      <button class="ปุ่มธรรมดาก็พอ">6</button><br />
      <button class="ปุ่มธรรมดาก็พอ">1</button>
      <button class="ปุ่มธรรมดาก็พอ">2</button>
      <button class="ปุ่มธรรมดาก็พอ">3</button><br />
      <button class="ปุ่มขอขนาดเบิ้มๆคือลือหน่ะ">=</button>
      <button class="ปุ่มขอขนาดเบิ้มๆคือลือหน่ะ">0</button>
      <button class="ปุ่มขอขนาดเบิ้มๆคือลือหน่ะ">.</button>
    </div>
  </section>
</div>

