<div class="keyboard-container">
  <div class="naturals-container">
    <button #1press>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Num1</p>
    </button>
    <button #2press>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Num2</p>
    </button>
    <button #3press>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Num3</p></button
    ><button #4press>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Num4</p></button
    ><button #5press>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Num5</p></button
    ><button #6press>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Num6</p></button
    ><button #7press>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Num7</p>
    </button>
  </div>
  <div class="accidentals-container">
    <button class="C" style="color: white">2</button>
    <button class="D" style="color: white">3</button>
    <button class="F" style="color: white">5</button>
    <button class="G" style="color: white">6</button>
    <button class="A" style="color: white">7</button>
  </div>

  <div class="naturals-container">
    <button #8press>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Num8</p>
    </button>
    <button #9press>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Num9</p>
    </button>
    <button #0press>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Num0</p></button
    ><button #Qpress>
      <p style="color: rgb(200, 57, 21); opacity: 50%">Q</p></button
    ><button #Wpress>
      <p style="color: rgb(200, 57, 21); opacity: 50%">W</p></button
    ><button #Epress>
      <p style="color: rgb(200, 57, 21); opacity: 50%">E</p></button
    ><button #Rpress>
      <p style="color: rgb(200, 57, 21); opacity: 50%">R</p>
    </button>
  </div>
  <div class="accidentals-container">
    <button class="C" style="color: white">2</button>
    <button class="D" style="color: white">3</button>
    <button class="F" style="color: white">5</button>
    <button class="G" style="color: white">6</button>
    <button class="A" style="color: white">7</button>
  </div>
  <div class="keyboard-container">
    <div class="naturals-container">
      <button #Tpress>
        <p style="color: rgb(200, 57, 21); opacity: 50%">T</p>
      </button>
      <button #Ypress>
        <p style="color: rgb(200, 57, 21); opacity: 50%">Y</p>
      </button>
      <button #Upress>
        <p style="color: rgb(200, 57, 21); opacity: 50%">U</p></button
      ><button #Ipress>
        <p style="color: rgb(200, 57, 21); opacity: 50%">I</p></button
      ><button #Opress>
        <p style="color: rgb(200, 57, 21); opacity: 50%">O</p></button
      ><button #Ppress>
        <p style="color: rgb(200, 57, 21); opacity: 50%">P</p></button
      ><button #PLpress>
        <p style="color: rgb(200, 57, 21); opacity: 50%">[</p>
      </button>
    </div>
    <div class="accidentals-container">
      <button class="C" style="color: white">2</button>
      <button class="D" style="color: white">3</button>
      <button class="F" style="color: white">5</button>
      <button class="G" style="color: white">6</button>
      <button class="A" style="color: white">7</button>
    </div>
    <div class="keyboard-container">
      <div class="naturals-container">
        <button #Apress>
          <p style="color: rgb(200, 57, 21); opacity: 50%">A</p>
        </button>
        <button #Spress>
          <p style="color: rgb(200, 57, 21); opacity: 50%">S</p>
        </button>
        <button #Dpress>
          <p style="color: rgb(200, 57, 21); opacity: 50%">D</p></button
        ><button #Fpress>
          <p style="color: rgb(200, 57, 21); opacity: 50%">F</p></button
        ><button #Gpress>
          <p style="color: rgb(200, 57, 21); opacity: 50%">G</p></button
        ><button #Hpress>
          <p style="color: rgb(200, 57, 21); opacity: 50%">H</p></button
        ><button #Jpress>
          <p style="color: rgb(200, 57, 21); opacity: 50%">J</p>
        </button>
      </div>
      <div class="accidentals-container">
        <button class="C" style="color: white">g</button>
        <button class="D" style="color: white">h</button>
        <button class="F" style="color: white">k</button>
        <button class="G" style="color: white">l</button>
        <button class="A" style="color: white">;</button>
      </div>
    </div>
  </div>
  <!-- <div class="test" *ngFor="let test of testlist; index as i">
  {{ test.isbn }} {{ test.authors }}
</div> -->
</div>
