<div class="keyboard-container">
  <div class="naturals-container">
    <button (click)="pressQButton()" #Qpress>
      <p style="color: rgb(133, 57, 27); opacity: 50%">Q</p>
    </button>
    <button #Wpress>
      <p style="color: rgb(133, 57, 27); opacity: 50%">W</p>
    </button>
    <button #Epress>
      <p style="color: rgb(133, 57, 27); opacity: 50%">E</p></button
    ><button #Rpress>
      <p style="color: rgb(133, 57, 27); opacity: 50%">R</p></button
    ><button #Tpress>
      <p style="color: rgb(133, 57, 27); opacity: 50%">T</p></button
    ><button #Ypress>
      <p style="color: rgb(133, 57, 27); opacity: 50%">Y</p></button
    ><button #Upress>
      <p style="color: rgb(133, 57, 27); opacity: 50%">U</p>
    </button>
  </div>
  <div class="accidentals-container">
    <button class="C" style="color: white">2</button>
    <button class="D" style="color: white">3</button>
    <button class="F" style="color: white">5</button>
    <button class="G" style="color: white">6</button>
    <button class="A" style="color: white">7</button>
  </div>
  <div class="keyboard-container">
    <div class="naturals-container">
      <button #Vpress>
        <p style="color: rgb(133, 57, 27); opacity: 50%">V</p>
      </button>
      <button #Bpress>
        <p style="color: rgb(133, 57, 27); opacity: 50%">B</p>
      </button>
      <button #Npress>
        <p style="color: rgb(133, 57, 27); opacity: 50%">N</p></button
      ><button #Mpress>
        <p style="color: rgb(133, 57, 27); opacity: 50%">M</p></button
      ><button #COMMApress>
        <p style="color: rgb(133, 57, 27); opacity: 50%">,</p></button
      ><button #DOTpress>
        <p style="color: rgb(133, 57, 27); opacity: 50%">.</p></button
      ><button #SLAUGHTpress>
        <p style="color: rgb(133, 57, 27); opacity: 50%">/</p>
      </button>
    </div>
    <div class="accidentals-container">
      <button class="C" style="color: white">g</button>
      <button class="D" style="color: white">h</button>
      <button class="F" style="color: white">k</button>
      <button class="G" style="color: white">l</button>
      <button class="A" style="color: white">;</button>
    </div>
  </div>
</div>
<div class="test" *ngFor="let test of testlist; index as i">
  {{ test.isbn }} {{ test.authors }}
</div>
